# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage
.nyc_output

# misc
.DS_Store
*.pem

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

# IDEs and editors
.idea
.vscode
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
