:root {
	--header-height: 48px;
	--chat-header-height: 64px;

	--color-neutral-background: #fff;
	--color-neutral-background-hover: #f5f5f5;
	--color-neutral-background-pressed: #e0e0e0;
	--color-neutral-background-selected: #ebebeb;
	--color-neutral-background-disabled: #f0f0f0;

	--color-neutral-background-5: #ebebeb;

	--color-neutral-foreground: #242424;
	--color-neutral-foreground-disabled: #bdbdbd;
	--color-neutral-foreground-inverted: #fff;

	--color-neutral-foreground-2: #424242;
	--color-neutral-foreground-2-action: #242424;

	--color-neutral-stroke: #d1d1d1;
	--color-neutral-stroke-hover: #c7c7c7;
	--color-neutral-stroke-pressed: #b3b3b3;
	--color-neutral-stroke-selected: #bdbdbd;
	--color-neutral-stroke-disabled: #e0e0e0;

	--color-neutral-stroke-accessible: #616161;
	--color-neutral-stroke-accessible-hover: #575757;
	--color-neutral-stroke-accessible-pressed: #4d4d4d;
	--color-neutral-stroke-accessible-selected: #5b5fc7;

	--color-red-foreground: #bc2f32;
	--color-red-border: #d13438;

	--color-brand: #5b5fc7;
	--color-brand-hover: #4f52b2;
	--color-brand-pressed: #383966;
	--color-brand-selected: #444791;

	--color-link: #4f52b2;
	--color-link-hover: #444791;
	--color-link-pressed: #383966;
	--color-link-selected: #4f52b2;

	--message-background: #fff;
	--message-background-mine: #e8ebfa;
}

:root.dark {
	--color-neutral-background: #292929;
	--color-neutral-background-hover: #3d3d3d;
	--color-neutral-background-pressed: #1f1f1f;
	--color-neutral-background-selected: #383838;
	--color-neutral-background-disabled: #141414;

	--color-neutral-background-5: #0a0a0a;

	--color-neutral-foreground: #fff;
	--color-neutral-foreground-disabled: #5c5c5c;
	--color-neutral-foreground-inverted: #242424;

	--color-neutral-foreground-2: #d6d6d6;
	--color-neutral-foreground-2-action: #fff;

	--color-neutral-stroke: #666666;
	--color-neutral-stroke-hover: #757575;
	--color-neutral-stroke-pressed: #6b6b6b;
	--color-neutral-stroke-selected: #707070;
	--color-neutral-stroke-disabled: #424242;

	--color-neutral-stroke-accessible: #adadad;
	--color-neutral-stroke-accessible-hover: #bdbdbd;
	--color-neutral-stroke-accessible-pressed: #b3b3b3;
	--color-neutral-stroke-accessible-selected: #7f85f5;

	--color-red-foreground: #e37d80;
	--color-red-border: #e37d80;

	--color-brand: #4f52b2;
	--color-brand-hover: #5b5fc7;
	--color-brand-pressed: #383966;
	--color-brand-selected: #444791;

	--color-link: #7f85f5;
	--color-link-hover: #9299f7;
	--color-link-pressed: #7579eb;
	--color-link-selected: #7f85f5;

	--message-background: #292929;
	--message-background-mine: #2f2f4a;
}
